<section id="Competencias" class="conteiner-fluid row mt-3">
    <div class="col-2">
    </div>
    <div class="text-left col-8">
      <h4>
        Programador web FullStack con conocimientos en JavaScript, Html, Css, C++, MySql y Solidity. Estudiante de la carrerar Licenciatura en Sistemas de Informacion en La facultad Nacional Del Nordeste Argentino la cual me brindo las bases de la programacion y del pensamiento computacional. Certificado en Argentina Programa como Programador Web FullStack. Tengo conocimientos en Ingles adquiridos tanto en la facultad como en la academia de ingles de Platzi. 
      </h4>
    </div>
  <div class="row conocimientos">
    <div class="col-2">
    </div>
     <div class="card col-8 conocimientos"><!--aca utilizo una card body para poner todas mis competencias dentro de ella en una lista-->
         <div class="row">
            <div class="col-2">
            </div>
            <div class="col-4 text-left">       
              <strong><h3><p>
                 competencias
              </p></h3></strong>
            </div>
        </div>
        <div class="row">
          <div class="col-2">
          </div>
          <div class="col-6">
           <ul>
               <li>JavaScript</li>
               <li>C++</li>
               <li>Html</li>
               <li>Css</li>
               <li>Solidity</li>
               <li>MySql</li>
               <li>Excel</li>
               <li>Blockchain: Uso de plataformas descentralizadas, billeteras y analisis de proyectos</li>
               <li>Trading y analisis de mercados financieros</li>
           </ul>
          </div>
         <div class="col-2">
         </div>
        </div>
     </div>
</div> 
</section>
