<section id="Hard y soft skills" class="skills"><!--seccion donde utilice una carta con imagenes extraidas desde bootstrap y a cada carta le agregue una progress bar para amdir las capacidades en porcentajes-->
    <div class="container-fluid">
        <div class="row">
          <div class="col-1">
          </div>
          <div class="card col-10 text-center">
          <div class="card-title principal">
            
              <strong><h3><p>
                Hard and soft skills
              </p></h3></strong>
           
          </div>
    <div class="card-body">
     <div class="row">
        <div class="col-2 mt-2">
        </div>      
        <div class="col-4">
            <div class="card h-100">
                <img src="assets/img/pexels-pixabay-159581.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                    <h5 class="card-title card-text">Ingles</h5>
                      <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                 </div>
            </div>
        </div>
          <div class="col-4">
            <div class="card h-100">
                <img src="assets/img/pexels-miguel-á-padriñán-194094.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title card-text">Liderazgo</h5>
                    <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                
                  </div>
            </div>
          </div>
      </div>
      <div class="row mt-2">
         <div class="col-2">
         </div>
        <div class="col-4">
            <div class="card h-100">
              <img src="assets/img/pexels-rodnae-productions-8369593.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                 <h5 class="card-title card-text">Blockchain</h5>
                 <div class="progress">
                   <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                 </div>
               </div>
            </div>
            </div>
        <div class="col-4">
            <div class="card h-100">
            <img src="assets/img/pexels-pixabay-270348.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title card-text">Programacion Web</h5>
                <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <div class="col-1">
       </div>
    </div>    
   </div>
  </div>
</div>
</section>
