<ul class="list-group list-group-horizontal">
    <li class="list-group-item" link>  <i class="fa-brands fa-instagram fa-2xl" ></i></li>
    <li class="list-group-item"> <i class="fa-brands fa-linkedin fa-2xl" routerLink="https://www.instagram.com/"></i></li>
    <li class="list-group-item"> <i class="fa-brands fa-whatsapp fa-2xl"></i></li>
      <!-- Button trigger modal(lo incluimos al icono extraido de fonts al boton de apertura de la ventana modal agregando las clases correspondientes) -->
    <li class="list-group-item"> 
      <i class="fa-solid fa-user-lock fa-2xl" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      </i>
    </li>
 </ul>
