<app-navbardashboard></app-navbardashboard>
<body class="about">
<section>
  <div class="d-flex align-items-start pt-1" >
      <div class="nav flex-column nav-pills me-3 col-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Perfil</button>
        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-contacto" type="button" role="tab" aria-controls="v-pills-contacto" aria-selected="false">Datos de contacto</button>
        <button class="nav-link" id="v-pills-labor-tab" data-bs-toggle="pill" data-bs-target="#v-pills-labor" type="button" role="tab" aria-controls="v-pills-labor" aria-selected="false">Datos laborales</button>
        <button class="nav-link" id="v-pills-img-tab" data-bs-toggle="pill" data-bs-target="#v-pills-img" type="button" role="tab" aria-controls="v-pills-img" aria-selected="false">Fotografias del panel</button>
        <button class="nav-link" id="v-pills-conocimientos-tab" data-bs-toggle="pill" data-bs-target="#v-pills-conocimientos" type="button" role="tab" aria-controls="v-pills-conocimientos" aria-selected="false">Conocimientos</button>
        <button class="nav-link" id="v-pills-redes-tab" data-bs-toggle="pill" data-bs-target="#v-pills-redes" type="button" role="tab" aria-controls="v-pills-redes" aria-selected="false">Redes sociales</button>
        <button class="nav-link" id="v-pills-skills-tab" data-bs-toggle="pill" data-bs-target="#v-pills-skills" type="button" role="tab" aria-controls="v-pills-skills" aria-selected="false">Hard and Soft Skills</button>
      </div>
    <div class="tab-content col-6" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
          <form class="row">
            <label class="col-form-label">Foto de perfil</label>
              <div class="col-7">
                <input type="file" class="form-control" id="inputPassword2">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary col">guardar datos</button>
              </div>

            <label class="col-form-label">Nombre y Apellido</label>
              <div class="col-7">
                <input type="text" class="form-control" id="inputPassword2">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary col">guardar datos</button>
              </div>
            
            <label class="col-form-label">DNI</label>
              <div class="col-7">
                <input type="text" class="form-control" id="inputPassword2" placeholder="sin puntos ni comas">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary col">guardar datos</button>
              </div>

              <label class="col-form-label">DNI</label>
            <div class="col-7">
              <input type="text" class="form-control" id="inputPassword2" placeholder="sin puntos ni comas">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>

            <label class="col-form-label">DNI</label>
            <div class="col-7">
              <input type="text" class="form-control" id="inputPassword2" placeholder="sin puntos ni comas">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>

            <label class="col-form-label">DNI</label>
            <div class="col-7">
              <input type="text" class="form-control" id="inputPassword2" placeholder="sin puntos ni comas">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>
        </form>
      </div>
      <!--Datos de contacto-->
        <div class="tab-pane fade" id="v-pills-contacto" role="tabpanel" aria-labelledby="v-pills-contacto-tab" tabindex="0">
          <form class="row">
            <label class="col-form-label">Numero de celular</label>
            <div class="col-7">
              <input type="text" class="form-control" id="inputPassword2">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>
            
            <label class="col-form-label">Correo electronico</label>
            <div class="col-7">
              <input type="text" class="form-control" id="inputPassword2" placeholder="sin puntos ni comas">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>

            <label class="col-form-label">Direccion</label>
            <div class="col-7">
              <input type="text" class="form-control" id="inputPassword2" placeholder="sin puntos ni comas">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>

            <label class="col-form-label">Pais</label>
            <div class="col-7">
              <input type="text" class="form-control" id="inputPassword2" placeholder="sin puntos ni comas">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>

            <label class="col-form-label">Provincia</label>
            <div class="col-7">
              <input type="text" class="form-control" id="inputPassword2" placeholder="sin puntos ni comas">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>

            <label class="col-form-label">Ciudad</label>
            <div class="col-7">
              <input type="text" class="form-control" id="inputPassword2" placeholder="sin puntos ni comas">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>
          </form>
        </div>
        <!--Datos Laborales-->
        <div class="tab-pane fade" id="v-pills-labor" role="tabpanel" aria-labelledby="v-pills-labor-tab" tabindex="0">
          <form class="row">
            <label class="col-form-label">Logo de la empresa</label>
            <div class="col-7">
              <input type="file" class="form-control" id="inputPassword2">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>

            <label class="col-form-label">Nombre de la empresa</label>
            <div class="col-7">
              <input type="text" class="form-control" id="inputPassword2">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>
            
            <label class="col-form-label">Puesto</label>
            <div class="col-7">
              <input type="text" class="form-control" id="inputPassword2" placeholder="sin puntos ni comas">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>
          </form>
        </div>

        <!--Imagenes panel-->
        <div class="tab-pane fade" id="v-pills-img" role="tabpanel" aria-labelledby="v-pills-img-tab" tabindex="0">
          <form class="row">
            <label class="col-form-label">Ingles</label>
            <div class="col-7">
              <input type="file" class="form-control" id="inputPassword2">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>
            <label class="col-form-label">Liderazgo</label>
            <div class="col-7">
              <input type="file" class="form-control" id="inputPassword2">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>
            <label class="col-form-label">Blockchain</label>
            <div class="col-7">
              <input type="file" class="form-control" id="inputPassword2">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>
            <label class="col-form-label">Programacion Web</label>
            <div class="col-7">
              <input type="file" class="form-control" id="inputPassword2">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>
          </form>
        </div>

        <!--Conocimientos-->
        <div class="tab-pane fade" id="v-pills-conocimientos" role="tabpanel" aria-labelledby="v-pills-conocimientos-tab" tabindex="0">
          <form class="row">
            <div class="col-7">
              <label for="exampleFormControlTextarea1" class="form-label">Introduccion</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Por que deberian contratarte?</textarea>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col mt-5">guardar datos</button>
            </div>
            <div class="col-7">
              <label for="exampleFormControlTextarea1" class="form-label">Competencias</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col mt-5">guardar datos</button>
            </div>
          </form>
        </div>
        <!--Redes sociales-->
        <div class="tab-pane fade" id="v-pills-redes" role="tabpanel" aria-labelledby="v-pills-redes-tab" tabindex="0">
          <form class="row">
            <label class="col-form-label">link de instagram</label>
            <div class="col-7">
              <input type="link" class="form-control" id="inputPassword2">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>
            <label class="col-form-label">link de Whatsapp</label>
            <div class="col-7">
              <input type="link" class="form-control" id="inputPassword2">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>
            <label class="col-form-label">link de Linkedin</label>
            <div class="col-7">
              <input type="link" class="form-control" id="inputPassword2">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>
            <label class="col-form-label"></label>
            <div class="col-7">
              <input type="link" class="form-control" id="inputPassword2">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>
          </form>
        </div>
             
        <!--Hard and soft skills-->
        <div class="tab-pane fade" id="v-pills-skills" role="tabpanel" aria-labelledby="v-pills-skills-tab" tabindex="0">
          <form class="row">
            <label class="col-form-label">Habilidades de ingles</label>
            <div class="col-7">
              <input type="range" class="form-range-thumb-border-radius" id="inputPassword2">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>

            <label class="col-form-label">Nivel de Liderazgo</label>
            <div class="col-7">
              <input type="text" class="form-control" id="inputPassword2" placeholder="Ingrese un numero del 1-100">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>
            
            <label class="col-form-label">Hablidades en Blockchain</label>
            <div class="col-7">
              <input type="text" class="form-control" id="inputPassword2" placeholder="Ingrese un numero del 1-100">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>

            <label class="col-form-label">Nivel de habilidades en programacion web</label>
            <div class="col-7">
              <input type="text" class="form-control" id="inputPassword2" placeholder="Ingrese un numero del 1-100">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary col">guardar datos</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
</section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!-- agregamos el bootstrap para js para usar ventanitas por ej-->
</body>

