
body{
    background: rgb(227,234,242);
    background: -moz-radial-gradient(circle, rgba(227,234,242,1) 13%, rgba(194,219,207,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(227,234,242,1) 13%, rgba(194,219,207,1) 100%);
    background: radial-gradient(circle, rgba(227,234,242,1) 13%, rgba(194,219,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e3eaf2",endColorstr="#c2dbcf",GradientType=1);
}